<h1>Our Students</h1>

<h3><%= link_to "Submit New Student", new_student_path %></h3>

<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>